{:kotoba.app/id "cloud.itonami.isic-6910", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibnaspmpolo43l4tjzjgo7aneer7wrgii75cajiqkwjddjvsev6uq", :kotoba.app/embed-url "ipfs://bafkreibnaspmpolo43l4tjzjgo7aneer7wrgii75cajiqkwjddjvsev6uq", :published {:archive "https://kotobase.net/ipfs/bafkreibnaspmpolo43l4tjzjgo7aneer7wrgii75cajiqkwjddjvsev6uq", :size 72455, :put-status 201, :get-status 200, :at "2026-08-15T13:44:41.344Z"}}
